@import "tailwindcss";

@layer base {
	@theme { --font-sans: "Inter Tight", sans-serif; }

	body {
		@apply font-sans; /* This will now apply Inter Tight */
	}

	h1 {
		@apply text-[30px] leading-9 font-semibold text-[#161723];
	}

	p {
		@apply text-[12px] leading-relaxed text-[#424153];
	}
}

@layer utilities {
	.sectionWrapper {
		@apply w-full max-w-5xl mx-auto px-6 py-16;
	}
}
