@import "tailwindcss";

@layer base {
	@theme { --font-sans: "Inter Tight", sans-serif; }

	body {
		@apply font-sans; /* This will now apply Inter Tight */
	}

	h1 {
		@apply text-[30px] leading-10 font-semibold text-[#161723];
	}

	p {
		@apply text-[12px] leading-relaxed text-[#424153];
	}
}

@layer utilities {
	.sectionWrapper {
		@apply py-15 px-4 md:px-6 lg:px-8 max-w-4xl mx-auto;
	}
}
